<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Search</nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="search()" (keyup)="search()">
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  placeholder="Name"
                  [(ngModel)]="componentService.componentFormModel.name">
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="namespace"
                  placeholder="Namespace"
                  [(ngModel)]="componentService.componentFormModel.namespace">
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="group"
                  placeholder="Group"
                  [(ngModel)]="componentService.componentFormModel.group">
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="version"
                  placeholder="Version"
                  [(ngModel)]="componentService.componentFormModel.version">
              </div>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-block btn-primary btn-sm">Submit</button>
              <button class="btn btn-outline-primary btn-block btn-sm" (click)="clearSearchForm()">Clear</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Components
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table
          [settings]="settings"
          [source]="source"
          (userRowSelect)="onUserRowSelect($event)"
          #repositoryTable>
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
