# Project exclude paths
/.idea/
/core/nuts-runtime/nbproject/
/core/nuts-runtime/nuts-runtime.iml
/core/nuts-runtime/target/
/core/nuts-runtime/.test-db
/core/nuts-runtime/.test-db-pef
/core/nuts-runtime/runtime
/core/nuts/nbproject/
/core/nuts/nuts.iml
/core/nuts/target/
/core/nutsc/build/
/core/nutsc/dist/
/deprecated/
/ext/next-term/target/
/install/nuts-installer/target/
/lib/nlib-servlet/nuts-servlet.iml
/lib/nlib-servlet/target/
/lib/nlib-talk-agent/nlib-talk-agent.iml
/lib/nlib-talk-agent/target/
/lib/nlib-template/nlib-template.iml
/lib/nlib-template/target/
/lib/nlib-tomcat-classloader/target/
/lsp/conf/
/lsp/log/
/lsp/log/*.log
/mk-nuts-bootstrap
/mk-nuts-bootstrap-pull
/mk-nuts-bootstrap-push
/mk-nuts-bootstrap.nsh
/toolbox/nadmin/nadmin.iml
/toolbox/nadmin/target/
/toolbox/ncode/target/
/toolbox/nderby/target/
/toolbox/ndoc/target/
/toolbox/ndocusaurus/target/
/toolbox/njavadoc/target/
/toolbox/njob/njob.iml
/toolbox/njob/target/
/toolbox/nmvn/target/
/toolbox/nmysql/target/
/toolbox/noapi/target/
/toolbox/nserver-war/target/
/toolbox/nserver/target/
/toolbox/nsh/nsh.iml
/toolbox/nsh/target/
/toolbox/ntalk-agent/target/
/toolbox/ntasks/target/
/toolbox/ntemplate/target/
/toolbox/ntemplater/target/
/toolbox/ntomcat/target/
/toolbox/nuts-server/nuts-server.iml
/toolbox/nuts-server/target
/toolbox/nversion/target/
/toolbox/nwar/target/
/toolbox/nwork/target/
/toolbox/worky/worky.iml
/website/nuts/nbproject/private/
/web-toolbox/nwar/target/
