/nuts-clown/target/
/nuts-tomcat-classloader/target/
/nuts-servlet/target/
/nuts-core/nbproject/
/toolbox/nuts-server/target
/.idea/
/nuts-core/runtime/
/deprecated/
/toolbox/mvn/target/
/toolbox/ndi/target/
/toolbox/nsh/target/
/toolbox/derby/target/
/toolbox/nadmin/target/
/toolbox/feenoo/target/
/toolbox/mysql/target/
/toolbox/nded/target/
/toolbox/tomcat/target/
/toolbox/worky/target/
/toolbox/file-version/target/
/toolbox/nuts-http-repo/target/
/lib/nuts-servlet/target/
/lib/nuts-tomcat-classloader/target/
/lib/nuts-ssh-cli/target/
/lib/vpc-common-nuts-template/target/
/lib/nuts-lib-template/target/
/nuts/target/
/nuts-core/target/
# Project exclude paths
/nuts/*.log.lck
/nuts/*.log
/mk-nuts-bootstrap-pull
/mk-nuts-bootstrap.nsh
/mk-nuts-bootstrap-push
/mk-nuts-bootstrap
/runtime/
lib/nuts-lib-template/nuts-lib-template.iml
lib/nuts-servlet/nuts-servlet.iml
lib/nuts-tomcat-classloader/nuts-tomcat-classloader.iml
nuts-core/nuts-core.iml
toolbox/derby/derby.iml
toolbox/feenoo/feenoo.iml
toolbox/file-version/file-version.iml
toolbox/mvn/mvn.iml
toolbox/mysql/mysql.iml
toolbox/nadmin/nadmin.iml
toolbox/nded/nded.iml
toolbox/ndi/ndi.iml
toolbox/nsh/nsh.iml
toolbox/nuts-http-repo/nuts-http-repo.iml
toolbox/nuts-server/nuts-server.iml
toolbox/tomcat/tomcat.iml
toolbox/worky/worky.iml
/nutsc/build/
/nutsc/dist/
/nuts-installer/target/
/toolbox/derby-box/target/
/toolbox/mysql-box/target/
/toolbox/tomcat-box/target/
/toolbox/nmysql/target/
/toolbox/ntomcat/target/
/toolbox/nmvn/target/
/toolbox/nderby/target/
/toolbox/nserver/target/
/toolbox/nserver-war/target/
/toolbox/nwar/target/
