# Project exclude paths
/.idea/
/toolbox/ndoc/target
/toolbox/ndiff/target
/core/nuts-runtime-test/runtime
/test/runtime
/core/nuts-runtime/nbproject/
/core/nuts-runtime/nuts-runtime.iml
/core/nuts-runtime/target/
/core/nuts-runtime/.test-db
/core/nuts-runtime/.test-db-pef
/core/nuts-runtime/runtime
/core/nuts/nbproject/
/core/nuts/nuts.iml
/core/nuts/target/
/core/nutsc/build/
/core/nutsc/dist/
/deprecated/
/ext/next-term/target/
/install/nuts-installer/target/
/lib/nlib-servlet/nuts-servlet.iml
/lib/nlib-servlet/target/
/lib/nlib-talk-agent/nlib-talk-agent.iml
/lib/nlib-talk-agent/target/
/lib/nlib-template/nlib-template.iml
/lib/nlib-template/target/
/lib/nlib-tomcat-classloader/target/
/lib/nlib-ssh/target/
/lib/nlib-md/target/
/lsp/conf/
/lsp/log/
/lsp/log/*.log
/mk-nuts-bootstrap
/mk-nuts-bootstrap-pull
/mk-nuts-bootstrap-push
/mk-nuts-bootstrap.nsh
/toolbox/ncode/target/
/toolbox/nderby/target/
/toolbox/ndoc/target/
/toolbox/ndocusaurus/target/
/toolbox/njavadoc/target/
/toolbox/njob/njob.iml
/toolbox/njob/target/
/toolbox/nmvn/target/
/toolbox/nmysql/target/
/toolbox/noapi/target/
/toolbox/nserver-war/target/
/toolbox/nserver/target/
/toolbox/nsh/nsh.iml
/toolbox/nsh/target/
/toolbox/nsh/runtime
/toolbox/ntalk-agent/target/
/toolbox/ntasks/target/
/toolbox/ntemplate/target/
/toolbox/ntemplater/target/
/toolbox/ntomcat/target/
/toolbox/nversion/target/
/toolbox/nwar/target/
/toolbox/nwork/target/
/website/nuts/nbproject/private/
/web-toolbox/nwar/target/
/toolbox/nnote/target/
/toolbox/ndb/target/
/test/nuts-runtime-test/target/
/test/nuts-runtime-test/runtime/
/test/nuts-runtime-test/nuts-runtime-test.iml
/toolbox/nwork/nwork.iml
/toolbox/nversion/nversion.iml
/nuts-builder.iml
/toolbox/ntemplate/ntemplate.iml
/toolbox/ntalk-agent/ntalk-agent.iml
/toolbox/nserver/nserver.iml
/toolbox/noapi/noapi.iml
/toolbox/ntomcat/ntomcat.iml
/toolbox/nmvn/nmvn.iml
/toolbox/ndocusaurus/ndocusaurus.iml
/toolbox/ndoc/ndoc.iml
/toolbox/ndiff/ndiff.iml
/toolbox/ndb/ndb.iml
/toolbox/ncode/ncode.iml
/lib/nlib-tomcat-classloader/nlib-tomcat-classloader.iml
/lib/nlib-ssh/nlib-ssh.iml
/lib/nlib-servlet/nlib-servlet.iml
/lib/nlib-md/nlib-md.iml
/.~lock.DEV_VERSION_TRACKING.xlsx#
/incubating/nutsc/build
/incubating/nutsc/dist
/.dir-template/website/static/nuts.jar
/core/nuts/.jpeek/
/core/nuts-runtime/.jpeek/
/core/.jpeek/
/.gradle/
/docs2/ugly-jar-projects/base-project/target/
/docs2/ugly-jar-projects/maven-assembly-project/target/
/docs2/ugly-jar-projects/dependency-project/target/
/docs2/ugly-jar-projects/assembly-project/target/
/docs2/ugly-jar-projects/onejar-project/target/
/docs2/ugly-jar-projects/springboot-project/target/
/docs2/ugly-jar-projects/shade-project/target/
/documentation/ugly-jar-projects/assembly-project/target/
/documentation/ugly-jar-projects/base-project/target/
/documentation/ugly-jar-projects/dependency-project/target/
/documentation/ugly-jar-projects/onejar-project/target/
/documentation/ugly-jar-projects/shade-project/target/
/documentation/ugly-jar-projects/springboot-project/target/
/tutorials/nsh/custom-shell-tutorial/target/
/tutorials/ugly-jar-projects/assembly-project/target/
/tutorials/ugly-jar-projects/base-project/target/
/tutorials/ugly-jar-projects/dependency-project/target/
/tutorials/ugly-jar-projects/onejar-project/target/
/tutorials/ugly-jar-projects/shade-project/target/
/tutorials/ugly-jar-projects/springboot-project/target/
