/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
--ifm-color-primary: #5296ce;
--ifm-color-primary-dark: #00518b;
--ifm-color-primary-darker: #054777;
--ifm-color-primary-darkest: #023b64;
--ifm-color-primary-light: #569fda;
--ifm-color-primary-lighter: #5aa4e2;
--ifm-color-primary-lightest: #69b2ed;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.b1{
}
.b2{
    background: #a1cda1;
}
.b2:hover{
    background: #82c482;
}
.b3{
    background: #ebcd5a;
}
.b3:hover{
    background: #eba35a;
}
