<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="row col-md">
          <div style="margin-right: 15px">
            <a (click)="returnBack()">
              <i class="fas fa-arrow-left"></i>
            </a>
          </div>
          <div>
            Information
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-3">
                Name:
              </div>
              <div class="col-md">
                {{component.name || '-'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Group:
              </div>
              <div class="col-md">
                {{component.group || '-'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Namespace:
              </div>
              <div class="col-md">
                {{component.namespace || '-'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Version:
              </div>
              <div class="col-md">
                {{component.version || '-'}}
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-3">
                Os:
              </div>
              <div class="col-md">
                {{component.os || '-'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Os destination:
              </div>
              <div class="col-md">
                {{component.osdist || '-'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Architecture:
              </div>
              <div class="col-md">
                {{component.arch || '-'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Face:
              </div>
              <div class="col-md">
                {{component.face || '-'}}
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary btn-block btn-sm" (click)="download()">Download</button>
            <button class="btn btn-danger btn-block btn-sm" (click)="deleteFromDisk()">Delete</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-md-8">
            Dependencies
          </div>
          <div class="col-md-4">
            <div class="row float-right" style="margin-right: 10px">
              <div style="margin-right: 10px"
                   [style.color]="componentService.directDependenciesToggle?'#73a1ff':'black'">
                <a (click)="directDependencies()">
                  <i class="fas fa-align-justify"></i>
                  Direct
                </a>
              </div>
              <div [style.color]="componentService.directDependenciesToggle?'black':'#73a1ff'">
                <a (click)="allDependencies()">
                  <i class="fas fa-align-left"></i>
                  All
                </a>
              </div>
            </div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table
          [settings]="settings"
          [source]="source"
          #repositoryTable>
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
