<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NutsHttpServlet</servlet-name>
        <servlet-class>net.thevpc.nuts.extensions.servers.NutsHttpServlet</servlet-class>
        <init-param>
            <param-name>workspace</param-name>
            <param-value>~~/http-workspace</param-value>
        </init-param>
        <init-param>
            <param-name>admin-server</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>admin-server-port</param-name>
            <param-value>-1</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <!--<init-param>-->
            <!--<param-name>workspaces</param-name>-->
            <!--<param-value>{"":""}</param-value>-->
        <!--</init-param>-->
    </servlet>

    <servlet-mapping>
        <servlet-name>NutsHttpServlet</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
</web-app>
