@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }

  nb-card-body {
    overflow: visible;
  }

  .ng2-smart-actions ng2-st-tbody-edit-delete {
    display: none !important;
  }

  .input-group {
    margin-bottom: 1rem;
  }

}
